body {
    background: #00001a;
}

.container {
    background: white;
    /*height: 3000px;*/
    width: 960px;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.header {
    background: white;
    width: 100%;
    height: 97px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.phone-holder {
    background-image: url('images/phone-bg.png');
    height: 30px;
    width: 220px;
    float: right;
    border-top-right-radius: 10px;
    padding: 5px;
}

.phone-icon {
    margin-top: -5px;
    margin-left: 45px;
}

.phone-number {
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    margin-left: 10px;
}

.header-title {
    background-image: url('images/B.png');
    background-repeat: no-repeat;
    background-position: left;
    height: 35px;
    left: 41px;
    margin-top: 23px;
}

.b-letter {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-left: -10px;
}

.title {
    margin-left: 15px;
    margin-bottom: 0px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.slogan {
    margin-left: 33px;
    padding: 0;
}

.nav-btns {
    height: 40px;
    margin-left: 160px;
    margin-top: 20px;
}

.nav-btn {
    margin-left: 10px;
    color: grey;
    font-size: 13px;
    font-weight: bold;
}

.nav-btn-active {
    color: white;
    background: blue;
}

.middle {
    background-image: url('images/header-bg.png');
    width: 100%;
    height: 336px;
    margin: 0;
    padding: 0;
}

.blurs {
    background: lightgrey;
    width: 100%;
    height: 123px;
}

.blur-item {
    margin-left: 60px;
    font-size: 12px;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: left;
    height: 70px;
}

.pocket {
    background-image: url('images/pocket.png');
}

.clock {
    background-image: url('images/clock.png');

}

.phone {
    background-image: url('images/phone.png');
}

.blur-item-text {
    margin-left: 60px;
}

.blur-item-text-title {
    font-size: 14px;
    font-weight: bold;
}

.info-container {
    height: 508px;
}

.info-item {
    height: 441px;
    margin-top: 25px;
    margin-left: 60px;
}

.info-item-title {
    font-size: 22px;
    font-weight: bold;
}

.info-item-text {
}

.pic {
    background-repeat: no-repeat;
    background-position: top;
    height: 142px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.pic-are {
    background-image: url('images/are.png');
}

.pic-do {
    background-image: url('images/do.png');
}

.pic-hire {
    background-image: url('images/hire.png');
}

.are {
}

.do {

}

.hire {

}

.read-more-btn {
    margin-top: 15px;
    font-weight: bold;
}

.option {
    padding: 0;
    margin-top: 10px;
    background-image: url('images/arrow.png');
    background-repeat: no-repeat;
    background-position: left;
}

.option-title {
    margin-left: 15px;
}

.inform {
    background: #ECECEC;
    height: 216px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.inform-item {
    margin-left: 50px;
    margin-top: 30px;
}

.inform-item-title {
    font-size: 16px;
    font-weight: bold;
    color: grey;
}

.inform-item-content {
    margin-top: 20px;
}

.browse-item {
    color: gray;
}

.browse {

}

.testimonials {

}

.blog {

}
